---
import HeaderLink from "../components/HeaderLink.astro";
import Skeleton from "../layouts/Skeleton.astro";
import PostList from "../components/PostList.astro";

// Use Astro.glob() to fetch all posts, and then sort them by date.
const posts = (await Astro.glob("./blog/*.{md,mdx}")).sort(
	(a, b) =>
		new Date(b.frontmatter.pubDate).valueOf() -
		new Date(a.frontmatter.pubDate).valueOf()
).filter((post) => !post.frontmatter.unlisted);

const skeletonContent = {
	title: "Jordan Webb's blog",
	description: "Development notes and technical musings",
	isFeed: true
};
---

<Skeleton content={skeletonContent}>
	<span class="feedlinks" slot="nav">
		<br />
		<HeaderLink href="/rss.xml">RSS</HeaderLink>
		<HeaderLink href="/atom.xml">Atom</HeaderLink>
		<HeaderLink href="/feed.json">JSON Feed</HeaderLink>
		<HeaderLink href="/tags/">Tag Index</HeaderLink>
	</span>
	<section>
		<PostList posts={posts} />
	</section>
</Skeleton>
