---
import HeaderLink from "../components/HeaderLink.astro";
import Skeleton from "../layouts/Skeleton.astro";

// Use Astro.glob() to fetch all posts, and then sort them by date.
const posts = (await Astro.glob("./blog/*.{md,mdx}")).sort(
	(a, b) =>
		new Date(b.frontmatter.pubDate).valueOf() -
		new Date(a.frontmatter.pubDate).valueOf()
);

const content = {
	title: "Jordan Webb's blog",
	description: "Development notes and technical musings",
};
---

<Skeleton content={content}>
	<style slot="head">
		.posts {
			table-layout: fixed;
			border: none;
		}

		.posts tr {
			border: none;
		}

		.posts td {
			border: none;
		}

		.postDate {
			width: 8rem;
			white-space: nowrap;
			font-weight: bold;
			vertical-align: top;
		}

		.description {
			font-style: italic;
			font-size: smaller;
		}
	</style>
	<style lang="css">
		[astro-icon] {
			height: 1rem;
			width: 1rem;
		}
	</style>
	<span class="feedlinks" slot="nav">
		<br />
		<HeaderLink href="/rss.xml">RSS</HeaderLink>
		<HeaderLink href="/atom.xml">Atom</HeaderLink>
		<HeaderLink href="/feed.json">JSON Feed</HeaderLink>
	</span>
	<table class="h-feed posts" itemscope itemtype="https://schema.org/Blog">
			{
				posts.map((post) => (
					<tr
						class="h-entry"
						itemprop="blogPost"
						itemscope
						itemtype="https://schema.org/BlogPosting"
					>
					<td class="postDate">
						<time
							class="dt-published"
							itemprop="datePublished"
							datetime={post.frontmatter.pubDate}
						>
							{new Date(post.frontmatter.pubDate).toLocaleDateString("en-us", {
								year: "numeric",
								month: "short",
								day: "numeric",
							})}
						</time>
					</td>
					<td class="postInfo">
						<a
							class="p-name u-url"
							itemprop="name headline"
							href={post.url + "/"}
						>
							{post.frontmatter.title}
						</a>
						{post.frontmatter.description && <br /><span class="description">{post.frontmatter.description}</span>}
					</td>
					</tr>
				))
			}
		</table>
		<link class="p-name u-url" title="Jordan Webb's blog" href="https://jordemort.dev/blog/" />
	</section>
</Skeleton>
