---
import HeaderLink from "./HeaderLink.astro";
---

<header>
	<h2 itemprop="author" itemscope itemtype="https://schema.org/Person">
		<img
			itemprop="image"
			style="border-radius: 50%; height: 4em; width: 4em; float: right;"
			src="https://avatars.githubusercontent.com/jordemort"
		/>
		<span itemprop="name">Jordan Webb</span>
		<meta itemprop="url" content="https://jordemort.dev/" />
	</h2>
	<nav>
		<HeaderLink href="/">Home</HeaderLink>
		<HeaderLink href="/portfolio/">Portfolio</HeaderLink>
		<HeaderLink href="/blog/">Blog</HeaderLink>
		<HeaderLink
			href="https://www.linkedin.com/in/jordanwebbfromchicago/"
			target="_blank">LinkedIn</HeaderLink
		>
		<HeaderLink href="https://github.com/jordemort" target="_blank"
			>GitHub</HeaderLink
		>
		<slot name="nav" />
	</nav>
</header>
<style>
	/*
	header {
		margin: 0em 0 1rem;
	}
	*/
	h2 {
		margin: 0.5em 0;
	}
</style>
