---
import HeaderLink from "./HeaderLink.astro";
---

<header>
	<h1 itemprop="author" itemscope itemtype="https://schema.org/Person">
		<img
			itemprop="image"
			style="border-radius: 50%; height: 8rem; width: 8rem; float: right;"
			src="https://avatars.githubusercontent.com/jordemort"
		/>
		<span itemprop="name">Jordan Webb</span>
		<meta itemprop="url" content="https://jordemort.dev/" />
	</h1>
	<nav>
		<HeaderLink href="/">Home</HeaderLink>
		<HeaderLink href="/portfolio/">Portfolio</HeaderLink>
		<HeaderLink href="/blog/">Blog</HeaderLink>
		<HeaderLink
			href="https://www.linkedin.com/in/jordanwebbfromchicago/"
			target="_blank">LinkedIn</HeaderLink
		>
		<HeaderLink href="https://github.com/jordemort" target="_blank"
			>GitHub</HeaderLink
		>
		<slot name="nav" />
	</nav>
</header>
<style>
	h1 {
		margin-top: 1rem;
		margin-bottom: 0.5rem;
		font-weight: 600;
	}
</style>
