---
import HeaderLink from "./HeaderLink.astro";
---

<style>
	h1 {
		margin-top: 1rem;
		margin-bottom: 0.5rem;
		font-weight: 600;
	}

	h1 img {
		border-radius: 50%;
		height: 8rem;
		width: 8rem;
		float: right;
	}
</style>
<header
	class="p-author h-card"
	itemprop="author"
	itemscope
	itemtype="https://schema.org/Person"
>
	<h1>
		<img
			itemprop="image"
			class="u-photo"
			src="https://avatars.githubusercontent.com/jordemort"
		/>
		<span class="p-name" itemprop="name">Jordan Webb</span>
		<a class="u-key" href="/gpg.txt"></a>
	</h1>
	<nav class="mainnav">
		<HeaderLink class="u-url" itemprop="url" href="/" rel="author"
			>Home</HeaderLink
		>
		<HeaderLink href="/portfolio/">Portfolio</HeaderLink>
		<HeaderLink href="/blog/">Blog</HeaderLink>
		<HeaderLink
			href="https://www.linkedin.com/in/jordanwebbfromchicago/"
			rel="me"
			target="_blank">LinkedIn</HeaderLink
		>
		<HeaderLink
			href="https://github.com/jordemort"
			rel="me authn"
			target="_blank">GitHub</HeaderLink
		>
		<HeaderLink id="searchLink" href="#search" style="display: none"
			>Search</HeaderLink
		>
		<slot name="nav" />
	</nav>
</header>
