---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../config";

export interface Props {
  content: {
    title?: string;
    description?: string;
    image?: string;
    isBlogPost?: boolean;
    isFeed?: boolean;
  };
}

const {
  content: { title, description, image, isBlogPost, isFeed },
} = Astro.props;

let microformat = "";
let schema = "https://schema.org/WebPage";

if (isFeed) {
  microformat = "h-feed";
  schema = "https://schema.org/Blog";
} else if (isBlogPost) {
  microformat = "h-entry";
  schema = "https://schema.org/BlogPosting";
}
---

<!DOCTYPE html>
<html lang="en-us">
  <head>
    <BaseHead
      title={title || SITE_TITLE}
      description={description || SITE_DESCRIPTION}
      image={image}
    />
    <slot name="head" />
  </head>
  <body class={microformat} itemscope itemtype={schema}>
    <Header title={title || SITE_TITLE}>
      <slot name="nav" slot="nav" />
    </Header>
    <main>
      <slot />
    </main>
  </body>
</html>
